.idea/*
__pycache__/*
venv/*
**/__pycache__/*
data/.DS_Store
.DS_Store
**/.DS_Store
/data/
/trained_networks/
/cc_libs/
/experiment_all_axioms/*.csv
.DS_Store
**/.DS_Store
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=1-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=2-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=3-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=5-k=4-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=1-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=2-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=3-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=4-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=5-pref_dist=URN-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=10_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=10_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=10_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=3_-_space=gaussian_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=3_-_space=uniform_ball-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=euclidean__args__dimensions=3_-_space=uniform_cube-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=IAC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=IC-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=identity-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=MALLOWS-RELPHI-R-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=mixed-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=single_peaked_conitzer-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=single_peaked_walsh-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=stratification__args__weight=0.5-axioms=all.csv
experiment_all_axioms/evaluation_results/old results/axiom_violation_results-n_profiles=25000-num_voters=50-m=7-k=6-pref_dist=URN-R-axioms=all.csv
*.csv
*.tex
*.tex
